.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: #fff;
  z-index: 1;
	box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  cursor: pointer;
	transition: transform 100ms ease-in;
}

.product:hover{
  transform: scale(1.07);
}

.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info{
  height: 100px;
  margin-bottom: 15px;
}
.product__info:first-child{
  text-transform: capitalize;
}

.product__price{
  margin-top: 5px;
}

.product__rating{
  display: flex;
  align-items: center;
  color:#f0c14b;
}

.product > button{
  background: #f0c14b;
  border: 1px solid; 
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #B46a29;
  color: #111;
}